# Development requirements.
# Compiled file is to be passed to 'pip install -r' in a virtualenv.
# Must be compiled with pip-compile.
-r requirements.txt

ipython
pifacecommon
pifacedigitalio
pip-tools
pylint
pytest
