[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rpyc = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-isort = "*"
black = {version="*", markers="python_version >= '3.6'"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
