Source: pilotwire-controller
Section: electronics
Priority: optional
Maintainer: Arnaud Rocher <arnaud.roche3@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/cailloumajor/pilotwire-controller
X-Python3-Version: >= 3.4

Package: python3-pilotwire-controller
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pifacedigitalio
Description: Python pilotwire controller (Python 3)
 This package provides Python library and executable to run a pilotwire
 controller for driving electrical heaters.
 .
 This is Python 3 version.
