#!/usr/bin/make -f
export DH_VERBOSE = 1
export PYBUILD_NAME = pilotwire-controller

include /usr/share/dpkg/default.mk


# main packaging script based on dh7 syntax
%:
	dh $@ --with python3 --buildsystem=pybuild
